NEXTCLOUD_PORT=8285
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.vitaliisili.com
OVERWRITEHOST=nextcloud.vitaliisili.com
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=https://nextcloud.vitaliisili.com
TZ=UTC

POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=replace-me
